# OS
.DS_Store
thumbs.db
desktop.ini

# Coverage directory used by tools like istanbul
coverage

# Dependency directories
node_modules/
jspm_packages/

# Optional npm cache directory
.npm

# Optional eslint cache
.eslintcache

# dotenv environment variables file
.env
.env.test

# Builds
*.tgz
dist

# Todo
TODO

# Playground
*playground*
